# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LiftSimulatorDemo.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\LiftSimulator\LiftSimulatorDemo\.idea\.idea.LiftSimulatorDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
